@page "/User/Manage"
@using BlazorBase.User.Models
@attribute [Authorize]

<Heading Margin="Margin.Is2.FromTop.Is4.FromBottom">
    @Localizer["Manage Account"]
</Heading>

<FullHeightTabs SelectedTab="profile">
    <Items>
        <Tab Name="profile">@Localizer["Profile"]</Tab>
        <Tab Name="change-password">@Localizer["Change Password"]</Tab>
    </Items>
    <Content>
        <TabPanel Name="profile" Class="h-100">
            <BaseUserManageProfile @ref="UserManageProfile" />

            <Button Class="btn-block" Size="Size.Large" Color="Blazorise.Color.Primary" Clicked="OnUserProfileSaveClickedAsync">@Localizer["Save"]</Button>
        </TabPanel>

        <TabPanel Name="change-password" Class="h-100">
            <BaseUserManagePassword />
        </TabPanel>
    </Content>
</FullHeightTabs>