.blazor-base-loading-indicator {
    position: fixed;
    inset: 0px;
    z-index: 99999;
    display: block;
    overflow: hidden;
    color: var(--blazor-base-loading-indicator-color, black);
    background-color: var(--blazor-base-loading-indicator-background, white);
    opacity: 0.6;
    text-align: center;
    font-weight: bold;
    transition: visibility 0s linear 500ms;
    visibility: visible;
}

.blazor-base-loading-indicator-content{
    margin-top: 20vh;
}