@if (Visible)
{
    <div>
        <div class="blazor-base-loading-indicator-background" />

        <div class="blazor-base-loading-indicator">
            <div class="blazor-base-loading-indicator-content">
                @ChildContent
            </div>

            <div class="blazor-base-loading-indicator-content">
                <div class="blazor-base-loading-indicator-content">
                    <div class="spinner-border" role="status" />
                </div>
            </div>
        </div>
    </div>
}



