

<div class="base-audio-recorder">

    <LoadingIndicator Visible="ShowLoadingIndicator">
        @Localizer["Uploading audio record..."]
        <Progress Size="Size.ExtraLarge" Margin="Margin.Is4.FromLeft.Is4.FromRight">
            <ProgressBar Value="(int)UploadProgress.Percentage" Animated="true" Striped="true">
                @((int)UploadProgress.Percentage) %
            </ProgressBar>
        </Progress>
    </LoadingIndicator>

    <h1>Audio Recorder</h1>
    <hr />
    <button @onclick="StartAudioRecord" class="btn btn-primary" disabled=@DisableRecordAudioStart>Start Record</button>
    <button @onclick="PauseAudioRecord" class="btn btn-primary" disabled=@DisableRecordAudioPause>Pause</button>
    <button @onclick="ResumeAudioRecord" class="btn btn-primary" disabled=@DisableRecordAudioResume>Resume</button>
    <button @onclick="StopAudioRecord" class="btn btn-primary" disabled=@DisableRecordAudioStop>Stop</button>
    <hr />
    <audio controls autoplay src=@AudioBlobUrl></audio>
    <hr />


</div>