@using BlazorBase.Abstractions.CRUD.Interfaces
@using BlazorBase.CRUD.Models

@inherits IBasePropertyCardInput

<div class="data-upgrade-entry-log pl-3">

    @if (Model != null && Model is DataUpgradeEntry entry)
    {
        @entry.Log
    }

</div>