@inherits BaseInput

<SelectList Data="@Data" TItem="(string Key, string Value)" TValue="string" TextField="(item) => item.Value" ValueField="(item) => item.Key" SelectedValue="Property.GetValue(Model)?.ToString()" SelectedValueChanged="(x) => OnValueChangedAsync(x)" Class="@InputClass" Attributes="Attributes" />

<div class="@FeedbackClass">
    @Feedback
</div>