@typeparam TModel

<input type="@InputType" value="@CurrentValueAsString" @onchange="OnValueChanged" @attributes="InputAttributes" class="form-control @ValidationClass" />

<div class="valid-feedback">
    @ValidFeedback
</div>

<div class="invalid-feedback">
    @InvalidFeedback
</div>