@inherits BaseInput

@if (Model != null)
{
    <SelectList Data="@Data" TItem="KeyValuePair<string, string>" TValue="string" TextField="(item) => item.Value" ValueField="(item) => item.Key" SelectedValue="Property.GetValue(Model)?.ToString()" SelectedValueChanged="(x) => OnValueChangedAsync(x)" Class="@InputClass" Attributes="Attributes" />

    <div class="@FeedbackClass">
        @Feedback
    </div>
}