@inherits BaseInput<TModel>
@typeparam TModel

<SelectList Data="@Data" TextField="@((item)=>item.Value)" ValueField="@((item)=>item.Key)" SelectedValue="CurrentValueAsString" @onchange="OnValueChanged" class="@ValidationClass" />

<div class="valid-feedback">
    @ValidFeedback
</div>

<div class="invalid-feedback">
    @InvalidFeedback
</div>