.base-card .card-header {
    padding: .2rem 0rem;
}

    .base-card .card-header button {
        width: 100%;
        text-align: left;
        font-weight: 600;
    }

    .base-card .card-header h4 {
        margin-bottom: 0rem;
    }

table input, table select {
    min-width: 125px;
}

.base-card-explain-text {
    justify-content: flex-start;
}

@media (min-width: 1600px) {
    .base-card .modal-xl {
        max-width: 1500px;
    }
}

@media (min-width: 1900px) {
    .base-card .modal-xl {
        max-width: 1850px;
    }
}
