@import 'card.css';
@import 'baseDataListInput.css';
@import 'customizationAttributes.css';

.b-layout.b-layout-has-sider .b-layout {
    overflow-x: auto;
}

.base-list .table td,
.base-list .table th,
.base-list-part .table td,
.base-list-part .table th {
    vertical-align: middle;
}

.base-list .table tr,
.base-list-part .table tr {
    position: relative;
}

.bottom-border-line {
    display: block !important;
    unicode-bidi: isolate !important;
    margin-block-start: 0.5em !important;
    margin-block-end: 0.5em !important;
    margin-inline-start: auto !important;
    margin-inline-end: auto !important;
    border-style: inset !important;
    border-width: 1px !important;
    height: 0 !important;
    overflow: visible !important;
    border: 0 !important;
    border-top: 1px solid rgba(0,0,0,.1) !important;
    box-sizing: border-box !important;
    position: absolute !important;
    border-color: var(--table-border-color) !important;
    width: 100% !important;
    left: 0px !important;
    bottom: 0px !important;
    margin: 0px !important;
    z-index: 2 !important;
    padding: 0px !important;
}

.base-list .table td,
.base-list .table th,
.base-list-part .table td,
.base-list-part .table th {
    border: hidden;
}